In [ ]:
# Features of python Languges
# easy to learn
# easy to read and understand and syntax is similar like english
# vast library support
# high level language
# interpreted langauge
# easy to portable

In [ ]:
# Vriables in python languages

In [ ]:
# here, many students/person joined the class, how do i indentify the person by its name
# likewise in python we can indentify the values, entity by using variable called indentifiers
# whatever we are doing in python, we goint to define variable to indentify its value

In [ ]:
# How to Run cell
# shift+enter  ---> run current cell
# ctrl+enter

In [ ]:
name = "Gukesh"
print(name)

Gukesh

In [ ]:
NAME = "Gukesh"
print(NAME)

Gukesh

In [ ]:
a = 10
b = 20.50
b = "Nihal"
c = 'Suraj'

In [ ]:
def cube():
  pass

In [ ]:
class AI_class():
  pass

In [ ]:
# now, while defining name as variables in python there are several rule to define it
# 1.Vaiable name must starts with alphabets(A-Z,a-z)
# 2.variable name can contains alpha0numerical charaters(A-Z,a-z,0-9)
# 3.variable name cannot starts with numbers
# 4. variable name are case sensitive
# 5.varible name cannot contains special characters(!@#$%^...) except underscore
# 6.variable name cannot use the reserved keywords ..True,False,import,if, else,....
# 7.do not use the in built functions name as varible name as print, help,sum, min, max,...

In [ ]:
# 1.Vaiable name must starts with alphabets(A-Z,a-z)

In [ ]:
a = 10
print(a)

10

In [ ]:
A = 20
print(A)

20

In [ ]:
b = 30.50
print(b)

30.5

In [ ]:
c = "Gukesh"
d = 'Gukesh'
print(c)
print(d)

Gukesh
Gukesh

In [ ]:
1a = 10
print(1a)

SyntaxError: invalid decimal literal (<ipython-input-15-9b48d3b2ee55>, line 1)

In [ ]:
@a = 10
print(@a)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-16-ffc36dbf31bf>, line 1)

In [ ]:
# 2.variable name can contains alpha numerical charaters(A-Z,a-z,0-9)

In [ ]:
name1 = "Krishna"
print(name1)

Krishna

In [ ]:
n1m2 = 'Ram'
n1m2

'Ram'

In [ ]:
# 4.varible name cannot contains special characters(!@#$%^...) except underscore

In [ ]:
name@ = "Anish"
name@

SyntaxError: invalid syntax (<ipython-input-20-79c0ff5dece0>, line 1)

In [ ]:
na#me = "Hikaru"
na#me

NameError: name 'na' is not defined

In [ ]:
na$me = "Magnus"
na$me

SyntaxError: invalid syntax (<ipython-input-22-f9a0b4a8472a>, line 1)

In [ ]:
# 4. variable name are case sensitive

In [ ]:
abc = "python"
print(abc)

python

In [ ]:
ABC = "python"
print(ABC)

python

In [ ]:
myVar = "Lowercase"
print(myVar)

Lowercase

In [ ]:
print(MYVAR)

NameError: name 'MYVAR' is not defined

In [ ]:
print(myvar)

NameError: name 'myvar' is not defined

In [ ]:
print(MYVAR)

NameError: name 'MYVAR' is not defined

In [ ]:
x = 10
print(X)

NameError: name 'X' is not defined

In [ ]:
abc = 'Arjun'
print(abc)

Arjun

In [ ]:
print(ABC)

python

In [ ]:
Myname = "Ajeet"
print(Myname)

Ajeet

In [ ]:
myname

NameError: name 'myname' is not defined

In [ ]:
MYNAME

NameError: name 'MYNAME' is not defined

In [ ]:
MYNAME = "wesly"
print(MYNAME)

wesly

In [ ]:
# 5.variable name cannot use the reserved keywords ..True,False,import,if, else,....

In [ ]:
# 5.varible name cannot contains special characters(!@#$%^...) except underscore

In [ ]:
my_name = "ankur"
print(my_name)

ankur

In [ ]:
my@name = "ankur"
print(my@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-38-c89d7d801c01>, line 1)

In [ ]:
var$ = 20
print(var$)

SyntaxError: invalid syntax (<ipython-input-39-5b02673d7d3e>, line 1)

In [ ]:
name space = "error"
print(name space)

SyntaxError: invalid syntax (<ipython-input-41-ad28fbe114ac>, line 1)

In [ ]:
_myvar = 10
print(_myvar)

10

In [ ]:
# 6.variable name cannot use the reserved keywords ..True,False,import,if, else,....

In [ ]:
if = "error"
print(if)

SyntaxError: invalid syntax (<ipython-input-44-920f3bc8bcf5>, line 1)

In [ ]:
True = "error"
print(True)

SyntaxError: cannot assign to True (<ipython-input-46-6e52bb650792>, line 1)

In [ ]:
import = "error"
print(import)

SyntaxError: invalid syntax (<ipython-input-47-8a97a597f1a6>, line 1)

In [ ]:
def = "error"
print(def)

SyntaxError: invalid syntax (<ipython-input-48-c2bbae74fd0c>, line 1)

In [ ]:
# 7.do not use the in built functions name as varible name its not recommended to use it as print, help,sum, min, max,...

In [ ]:
# type = "int"
# print(type)

In [ ]:
len = 5
print(len)

5

In [ ]:
# del - Used to Delete a Variable

In [ ]:
name = "python"
print(name)

python

In [ ]:
del name

In [ ]:
name

NameError: name 'name' is not defined

In [ ]:
age = 30
print(age)

30

In [ ]:
del age

In [ ]:
print(del)

SyntaxError: invalid syntax (<ipython-input-56-11d13dda967a>, line 1)

In [ ]:
name = "Python"
print(type(name))

TypeError: 'str' object is not callable

In [ ]:
# Example 1:
name = "Python"
print(type(name))  # Output: <class 'str'>

# Example 2:
age = 25
print(type(age))   # Output: <class 'int'>

# Example 3:
salary = 25000.50
print(type(salary))  # Output: <class 'float'>

# Example 4:
data = [1, 2, 3]
print(type(data))    # Output: <class 'list'>

# Example 5:
is_active = True
print(type(is_active))  # Output: <class 'bool'>

TypeError: 'str' object is not callable

In [ ]:
# Indentation

In [ ]:
# Example 1: Correct Indentation
if True:
    print("Python requires proper indentation.")

# Example 2: Incorrect Indentation
# Uncommenting the below code will throw an error
# if True:
# print("This will cause an IndentationError.")

# Example 3: Nested Indentation
if True:
    if True:
        print("Nested blocks require proper indentation.")

# Example 4: Loop with Indentation
for i in range(3):
    print("Number:", i)  # Correct indentation inside the loop

# Example 5: Function with Indentation
def greet():
    print("Hello, World!")  # Properly indented function body
greet()

In [ ]:
# Data Types
Numeric : int, float, complex

text : str

sequence : list , tuple, range

setDt: set, frozenset

mapping : dict(dictionary)[ key and pair values]

Boolean : bool (True & False)

Binary : bytes

In [ ]:
# int Data Type
Whole Numbers
+ve or -ve
without decimal numbers

In [ ]:
x=10
type(x)

In [ ]:
z=-10
type(z)

In [ ]:
x=1000
type(x)

In [ ]:
# Float Data Type
+ve or -ve
with decimal numbers

In [ ]:
fl_num=20.23
print('Data type of variable is :', type(fl_num))

In [ ]:
fl_num=-20.23
print('Data type of variable is :', type(fl_num))

In [ ]:
fl_num=1.0
print('Data type of variable is :', type(fl_num))

In [ ]:
a=27
b=4
c=b/a
print(round(c, 3))

In [ ]:
# shft + tab (docstring: which specify specs of that function)
# shft + tab+tab

In [ ]:
# Complex Data Type
Contains Real and Imaginary Part
in imaginary part only (j) should be use

In [ ]:
var(a) = real(3) + imaginary(4j)

In [ ]:
a=3+4j
type(a)

In [ ]:
a=3.5+4.5j
type(a)

In [ ]:
z = 4j
type(z)

In [ ]:
abs(10)

In [ ]:
abs(10.1)

In [ ]:
abs(-10)

In [ ]:
# Python Casting

In [ ]:
change data type of variables
specify variable type

In [ ]:
# 1. int to float

In [ ]:
num=20
print('actual data type is :', type(num))
num= float(num)
print('Updated type of num is :', type(num), num)

In [ ]:
2. float to int

In [ ]:
num=10.84
print('actual data type is :', type(num))
num= int(num)
print('Updated type of num is :', type(num), num)

In [ ]:
3. int to complex

In [ ]:
a=88
print(f'Value of a is {a} and its data type is{type(a)}')

a=complex(a)
print(f'Value of a is {a} and its data type is{type(a)}')

In [ ]:
4.float to complex

In [ ]:
x=7.8
print(f'Value of x is {x} and its data type is{type(x)}')

x=complex(x)
print(f'Value of x is {x} and its data type is{type(x)}')

In [ ]:
5. Complex to int

In [ ]:
complex to int or float is not possible

In [ ]:
complex to int or float is not possible
x=877.49+4j
print(f'Value of x is {x} and its data type is{type(x)}')

x=int(x)
print(f'Value of x is {x} and its data type is{type(x)}')

In [ ]:
x=877.49+4j
print(f'Value of x is {x} and its data type is{type(x)}')

x=float(x)
print(f'Value of x is {x} and its data type is{type(x)}')